@charset "utf-8";
/* Additional styles for the Neo4jCP project site at GitHub.com */

.block-right {
  clear: right;
  float: right;
  margin-left: 8px;
}

.block-left {
  clear: left;
  float: left;
  margin-right: 8px;
}
